UserInterfaceState.xcuserstate
Toucan.xccheckout
Toucan.xcworkspace/xcuserdata/bunneyapps.xcuserdatad
build
.idea
docs

Toucan.xcworkspace/xcuserdata/bkirchner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
